## Import library

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import os
from tqdm import tqdm

## MYSQL 연동

In [2]:
# conn = pymysql.connect(host='127.0.0.1', user='root', password='{PW}', db='ecommerce', charset='utf8')
user = 'root'
password = f'{PW}'
conn_string = f"mysql+mysqlconnector://root:{PW}@localhost:3306/ecommerce"
engine = create_engine(conn_string)
conn=engine.connect()

## DATA TO MYSQL

### data 이름 리스트 생성

In [18]:

path = '../data'
file_list = os.listdir(path)

data_name = [file for file in file_list if file.endswith('.csv')]

In [11]:
data_name

['olist_customers_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

In [19]:
data_name.remove("olist_geolocation_dataset.csv")

olist_geolocation_dataset 넣는 과정에서 에러 발생

### DATAFRAME TO MYSQL

In [17]:
data_name[0][:-4]

'olist_geolocation_dataset'

In [21]:
for x in tqdm(data_name):
    # DataFrame 생성
    table_name = x[:-4]
    df = pd.read_csv(f"../data/{x}")
    # print(x)
    # print(df.head())
    # 테이블이 이미 존재한다면 어떻게 할 것인지? replace, append, 또는 fail?
    if_exists = 'replace'
    
    # 데이터를 Snowflake에 작성
    with engine.connect() as con:
        df.to_sql(
        name=table_name.lower(),
        con=engine,
        if_exists=if_exists
        )

100%|██████████| 8/8 [00:26<00:00,  3.35s/it]

In [22]:
conn.close()