# IMPORT LIBRARY

In [ ]:
import numpy as np
import pandas as pd
from itertools import product
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import random
import itertools
from tqdm import tqdm
from scipy.stats import gmean

# DATA LOAD

In [3]:
df = pd.read_csv("../data/for_simulation.csv")

# 1. 최소 리워드를 제공 할 때 순이익이 0을 넘길 수 있는 성장율
- ('High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0)

In [8]:
increase_rate_combinations = []
reward_combinations = [
    {'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}]

for i in np.arange(5, 26, 0.1):
    increase_rate_combinations.append(i * 0.01)

all_combinations = list(product(reward_combinations, increase_rate_combinations))
# 시뮬레이션 결과 저장
simulation_results = []

# 모든 조합에 대해 시뮬레이션 실행

for reward_amounts, increase_rates in all_combinations:
    # Trust level별 초기 총 수익(판매 대금의 10%) 계산
    initial_revenues = {level: int(df[df['trust_level'] == level]['payment_value'].sum() * 0.1) for level in df['trust_level'].unique()}
    initial_trust_distribution = df['trust_level'].value_counts(normalize=True).to_dict()
    
    # 초기 수익 및 시뮬레이션 계산
    initial_total_revenue = sum(initial_revenues.values())
    reward_provided_total = 0
    simulation_total_revenue = 0

    for trust_level, reward in reward_amounts.items():
        # 리워드 제공액 계산
        trust_level_count = len(df[df['trust_level'] == trust_level])
        reward_provided = reward * trust_level_count
        reward_provided_total += reward_provided
        
        # 구매 증가율에 따른 시뮬레이션 수익
        initial_revenue = initial_revenues.get(trust_level, 0)

        simulation_revenue = int(initial_revenue * (1 + increase_rates))
        simulation_total_revenue += simulation_revenue
    
    # 시뮬레이션 순수익
    simulation_net_profit = simulation_total_revenue - reward_provided_total
    
    # 리워드 제공에 따른 추가 수익
    additional_revenue = simulation_net_profit - initial_total_revenue
    
    # 시뮬레이션 결과 저장
    simulation_results.append({
        'Reward Combination': reward_amounts,
        'Increase Rate Combination': round(increase_rates*100,1),
        'Initial Revenue': initial_total_revenue,
        'Simulation Revenue': simulation_total_revenue,
        'Reward Provided': reward_provided_total,
        'Simulation Net Profit': simulation_net_profit,
        'Additional Revenue': additional_revenue
    })

In [9]:
# 결과 DataFrame 생성
minreward_simulation = pd.DataFrame(simulation_results)

# 상위 10개의 시뮬레이션 결과 출력
print("다양한 시뮬레이션 결과:")

minreward_simulation[minreward_simulation['Additional Revenue']>0].sort_values(by=["Additional Revenue"],ascending=True)

다양한 시뮬레이션 결과:

,Reward Combination,Increase Rate Combination,Initial Revenue,Simulation Revenue,Reward Provided,Simulation Net Profit,Additional Revenue
44,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",9.4,1993048,2180392,186267,1994125,1077
45,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",9.5,1993048,2182386,186267,1996119,3071
46,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",9.6,1993048,2184379,186267,1998112,5064
47,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",9.7,1993048,2186371,186267,2000104,7056
48,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",9.8,1993048,2188365,186267,2002098,9050
...,...,...,...,...,...,...,...
205,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",25.5,1993048,2501273,186267,2315006,321958
206,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",25.6,1993048,2503267,186267,2317000,323952
207,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",25.7,1993048,2505259,186267,2318992,325944
208,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",25.8,1993048,2507252,186267,2320985,327937
209,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",25.9,1993048,2509245,186267,2322978,329930

In [12]:
low_rate = minreward_simulation[minreward_simulation['Additional Revenue']>0].sort_values(by=["Additional Revenue"],ascending=True).reset_index(drop=True).loc[0,'Increase Rate Combination']
low_rate

9.4

9.4%의 상승을 해야 흑자

# 2. 최대 리워드를 제공 할 때 순이익이 0을 넘길 수 있는 성장율
- ('High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0)

In [20]:
increase_rate_combinations = []
reward_combinations = [
    {'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}]

for i in np.arange(5, 31, 0.1):
    increase_rate_combinations.append(i * 0.01)

all_combinations = list(product(reward_combinations, increase_rate_combinations))
# 시뮬레이션 결과 저장
simulation_results = []

# 모든 조합에 대해 시뮬레이션 실행

for reward_amounts, increase_rates in all_combinations:
    # Trust level별 초기 총 수익(판매 대금의 10%) 계산
    initial_revenues = {level: int(df[df['trust_level'] == level]['payment_value'].sum() * 0.1) for level in df['trust_level'].unique()}
    initial_trust_distribution = df['trust_level'].value_counts(normalize=True).to_dict()
    
    # 초기 수익 및 시뮬레이션 계산
    initial_total_revenue = sum(initial_revenues.values())
    reward_provided_total = 0
    simulation_total_revenue = 0

    for trust_level, reward in reward_amounts.items():
        # 리워드 제공액 계산
        trust_level_count = len(df[df['trust_level'] == trust_level])
        reward_provided = reward * trust_level_count
        reward_provided_total += reward_provided
        
        # 구매 증가율에 따른 시뮬레이션 수익
        initial_revenue = initial_revenues.get(trust_level, 0)

        simulation_revenue = int(initial_revenue * (1 + increase_rates))
        simulation_total_revenue += simulation_revenue
    
    # 시뮬레이션 순수익
    simulation_net_profit = simulation_total_revenue - reward_provided_total
    
    # 리워드 제공에 따른 추가 수익
    additional_revenue = simulation_net_profit - initial_total_revenue
    
    # 시뮬레이션 결과 저장
    simulation_results.append({
        'Reward Combination': reward_amounts,
        'Increase Rate Combination': round(increase_rates*100,1),
        'Initial Revenue': initial_total_revenue,
        'Simulation Revenue': simulation_total_revenue,
        'Reward Provided': reward_provided_total,
        'Simulation Net Profit': simulation_net_profit,
        'Additional Revenue': additional_revenue
    })

In [21]:
# 결과 DataFrame 생성
maxreward_simulation = pd.DataFrame(simulation_results)

# 상위 10개의 시뮬레이션 결과 출력
print("다양한 시뮬레이션 결과:")

maxreward_simulation[maxreward_simulation['Additional Revenue']>0].sort_values(by=["Additional Revenue"],ascending=True)

다양한 시뮬레이션 결과:

,Reward Combination,Increase Rate Combination,Initial Revenue,Simulation Revenue,Reward Provided,Simulation Net Profit,Additional Revenue
242,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.2,1993048,2575016,580419,1994597,1549
243,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.3,1993048,2577009,580419,1996590,3542
244,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.4,1993048,2579003,580419,1998584,5536
245,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.5,1993048,2580994,580419,2000575,7527
246,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.6,1993048,2582988,580419,2002569,9521
247,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.7,1993048,2584982,580419,2004563,11515
248,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.8,1993048,2586975,580419,2006556,13508
249,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",29.9,1993048,2588967,580419,2008548,15500
250,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.0,1993048,2590959,580419,2010540,17492
251,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.1,1993048,2592954,580419,2012535,19487
252,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.2,1993048,2594947,580419,2014528,21480
253,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.3,1993048,2596939,580419,2016520,23472
254,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.4,1993048,2598932,580419,2018513,25465
255,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.5,1993048,2600926,580419,2020507,27459
256,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.6,1993048,2602919,580419,2022500,29452
257,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.7,1993048,2604911,580419,2024492,31444
258,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.8,1993048,2606904,580419,2026485,33437
259,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",30.9,1993048,2608899,580419,2028480,35432

In [22]:
high_rate = maxreward_simulation[maxreward_simulation['Additional Revenue']>0].sort_values(by=["Additional Revenue"],ascending=True).reset_index(drop=True).loc[0,'Increase Rate Combination']
high_rate

29.2

In [24]:

inbcrease_rate = round(gmean([low_rate, high_rate]),1)
inbcrease_rate

16.6

> Increase_rate = 16.6

# 3. 리워드 추출
- 리워드를 제공하면 Increase rate의 성장을 이룬다고 가정
- 이때, 기존 데이터를 활용하여 |수익| 을 오름차순 정렬하여 리워드 조합 8개 추출

In [25]:
reward_combinations = []

very_low_reward = 0  # 디폴트 0
reward_min = 3
reward_max = 9
for i in range(reward_min, reward_max+1):
    # 랜덤 리워드 금액 설정
    high_reward = i
    for j in range(2,int(round(i*2/3))+1):
        mid_reward = j
        for k in range(1,int(round(j*2/3))+1):
            low_reward = k
            reward_combinations.append({
                'High': high_reward,
                'Mid': mid_reward,
                'Low': low_reward,
                'Very Low': very_low_reward
            })

increase_rate_combinations = [inbcrease_rate * 0.01]

all_combinations = list(product(reward_combinations, increase_rate_combinations))
# 시뮬레이션 결과 저장
simulation_results = []

# 모든 조합에 대해 시뮬레이션 실행

for reward_amounts, increase_rates in all_combinations:
    # Trust level별 초기 총 수익(판매 대금의 10%) 계산
    initial_revenues = {level: int(df[df['trust_level'] == level]['payment_value'].sum() * 0.1) for level in df['trust_level'].unique()}
    initial_trust_distribution = df['trust_level'].value_counts(normalize=True).to_dict()
    
    # 초기 수익 및 시뮬레이션 계산
    initial_total_revenue = sum(initial_revenues.values())
    reward_provided_total = 0
    simulation_total_revenue = 0

    for trust_level, reward in reward_amounts.items():
        # 리워드 제공액 계산
        trust_level_count = len(df[df['trust_level'] == trust_level])
        reward_provided = reward * trust_level_count
        reward_provided_total += reward_provided
        
        # 구매 증가율에 따른 시뮬레이션 수익
        initial_revenue = initial_revenues.get(trust_level, 0)

        simulation_revenue = int(initial_revenue * (1 + increase_rates))
        simulation_total_revenue += simulation_revenue
    
    # 시뮬레이션 순수익
    simulation_net_profit = simulation_total_revenue - reward_provided_total
    
    # 리워드 제공에 따른 추가 수익
    additional_revenue = simulation_net_profit - initial_total_revenue
    
    # 시뮬레이션 결과 저장
    simulation_results.append({
        'Reward Combination': reward_amounts,
        'Increase Rate Combination': round(increase_rates*100,1),
        'Initial Revenue': initial_total_revenue,
        'Simulation Revenue': simulation_total_revenue,
        'Reward Provided': reward_provided_total,
        'Simulation Net Profit': simulation_net_profit,
        'Additional Revenue': additional_revenue
    })

In [28]:
# 결과 DataFrame 생성
reward_combinations_simulation = pd.DataFrame(simulation_results)

# 상위 10개의 시뮬레이션 결과 출력
print("다양한 시뮬레이션 결과:")
reward_combinations_simulation['distance_from_zero'] = abs(reward_combinations_simulation['Additional Revenue'])
reward_combinations_simulation.sort_values(by=["distance_from_zero"],ascending=True)

다양한 시뮬레이션 결과:

,Reward Combination,Increase Rate Combination,Initial Revenue,Simulation Revenue,Reward Provided,Simulation Net Profit,Additional Revenue,distance_from_zero
10,"{'High': 6, 'Mid': 4, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,350916,1972976,-20072,20072
16,"{'High': 7, 'Mid': 4, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,352661,1971231,-21817,21817
25,"{'High': 8, 'Mid': 4, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,354406,1969486,-23562,23562
34,"{'High': 9, 'Mid': 4, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,356151,1967741,-25307,25307
33,"{'High': 9, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,298062,2025830,32782,32782
24,"{'High': 8, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,296317,2027575,34527,34527
15,"{'High': 7, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,294572,2029320,36272,36272
9,"{'High': 6, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,292827,2031065,38017,38017
6,"{'High': 5, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,291082,2032810,39762,39762
3,"{'High': 4, 'Mid': 3, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,289337,2034555,41507,41507
11,"{'High': 6, 'Mid': 4, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,372534,1951358,-41690,41690
17,"{'High': 7, 'Mid': 4, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,374279,1949613,-43435,43435
26,"{'High': 8, 'Mid': 4, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,376024,1947868,-45180,45180
35,"{'High': 9, 'Mid': 4, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,377769,1946123,-46925,46925
32,"{'High': 9, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,276444,2047448,54400,54400
23,"{'High': 8, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,274699,2049193,56145,56145
14,"{'High': 7, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,272954,2050938,57890,57890
8,"{'High': 6, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,271209,2052683,59635,59635
5,"{'High': 5, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,269464,2054428,61380,61380
2,"{'High': 4, 'Mid': 3, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,267719,2056173,63125,63125
12,"{'High': 6, 'Mid': 4, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,394152,1929740,-63308,63308
18,"{'High': 7, 'Mid': 4, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,395897,1927995,-65053,65053
27,"{'High': 8, 'Mid': 4, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,397642,1926250,-66798,66798
36,"{'High': 9, 'Mid': 4, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,399387,1924505,-68543,68543
19,"{'High': 7, 'Mid': 5, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,432368,1891524,-101524,101524
28,"{'High': 8, 'Mid': 5, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,434113,1889779,-103269,103269
37,"{'High': 9, 'Mid': 5, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,435858,1888034,-105014,105014
20,"{'High': 7, 'Mid': 5, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,453986,1869906,-123142,123142
29,"{'High': 8, 'Mid': 5, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,455731,1868161,-124887,124887
38,"{'High': 9, 'Mid': 5, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,457476,1866416,-126632,126632
31,"{'High': 9, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,196737,2127155,134107,134107
22,"{'High': 8, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,194992,2128900,135852,135852
13,"{'High': 7, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,193247,2130645,137597,137597
7,"{'High': 6, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,191502,2132390,139342,139342
4,"{'High': 5, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,189757,2134135,141087,141087
1,"{'High': 4, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,188012,2135880,142832,142832
0,"{'High': 3, 'Mid': 2, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,186267,2137625,144577,144577
21,"{'High': 7, 'Mid': 5, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,475604,1848288,-144760,144760
30,"{'High': 8, 'Mid': 5, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,477349,1846543,-146505,146505
39,"{'High': 9, 'Mid': 5, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,479094,1844798,-148250,148250
40,"{'High': 9, 'Mid': 6, 'Low': 1, 'Very Low': 0}",16.6,1993048,2323892,515565,1808327,-184721,184721
41,"{'High': 9, 'Mid': 6, 'Low': 2, 'Very Low': 0}",16.6,1993048,2323892,537183,1786709,-206339,206339
42,"{'High': 9, 'Mid': 6, 'Low': 3, 'Very Low': 0}",16.6,1993048,2323892,558801,1765091,-227957,227957
43,"{'High': 9, 'Mid': 6, 'Low': 4, 'Very Low': 0}",16.6,1993048,2323892,580419,1743473,-249575,249575

In [34]:
reward_combinations = list(reward_combinations_simulation.sort_values(by=["distance_from_zero"],ascending=True).reset_index(drop=True).loc[:7,'Reward Combination'].values)
reward_combinations

[{'High': 6, 'Mid': 4, 'Low': 1, 'Very Low': 0},
 {'High': 7, 'Mid': 4, 'Low': 1, 'Very Low': 0},
 {'High': 8, 'Mid': 4, 'Low': 1, 'Very Low': 0},
 {'High': 9, 'Mid': 4, 'Low': 1, 'Very Low': 0},
 {'High': 9, 'Mid': 3, 'Low': 2, 'Very Low': 0},
 {'High': 8, 'Mid': 3, 'Low': 2, 'Very Low': 0},
 {'High': 7, 'Mid': 3, 'Low': 2, 'Very Low': 0},
 {'High': 6, 'Mid': 3, 'Low': 2, 'Very Low': 0}]

# 4. 시뮬레이션

## 기존 데이터 분포 확인